@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Slab", serif;
    height: 100%;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;

}

a:not(.material-icons) {

    text-decoration: none;
    color: white;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;

    font-weight: 600;
    background-color: #1B7F5D;
    border-radius: 20px;
    padding: 5.5px 10px;
    transition: 0.3s ease;
    display: inline-block;
}

.active>a {
    box-shadow: 10px 5px 5px white;
}

header {
    padding: 40px 0;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    height: 40px;

}

header>#logos {
    all: unset;
    cursor: pointer;
    font-size: 40px;
    font-weight: 800;
    position: relative;
    bottom: 13px;
    right: -50px;
    text-shadow:
        0 0 5px #1B7F5D,
        0 0 10px #1B7F5D,
        0 0 20px #1B7F5D,
        0 0 40px #1B7F5D;
}

header>nav {
    float: right;
}

header>nav>ul {

    position: relative;
    right: 150px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

li {

    padding: 0 40px;
}

header>nav>ul>li>a:hover {
    transform: scale(1.2);
}

.box-cont {
    height: 30px;
    margin-top: -5px;
    display: flex;
    align-items: center;
    border: 3px solid #1B7F5D;
    border-radius: 50px;
    padding: 5px 15px;
    background-color: #fff;
    /* или transparent */
    width: 230px;
    margin-left: 30px;
}

.search {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: "Roboto Slab", serif;
    color: #424242;
    background: transparent;
}

.search-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
    margin-top: 2px;
}

.search-btn .material-icons {
    font-size: 30px;
    color: #1B7F5D;
    transition: 0.2s;
}

.search-btn:hover .material-icons {
    transform: scale(1.3);
    color: #2980b9;
}







/* center */
.contacts {
    margin-top: 50px;
}

.social {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 95px;
}

.contacts>h2 {
    text-align: center;
    font-size: 60px;
    margin-top: 80px;
    margin-bottom: 20px;
    color: #fff;
    text-shadow:
        0 0 10px #7F1B1B,
        0 0 10px #7F1B1B,
        0 0 10px #7F1B1B,
        0 0 10px #7F1B1B;
}
.contacts>hr {
    border:none;
      background-color: white; /* Цвет линии */
    color:white; /* Цвет линии для IE6-7 */
    height: 7px;
    margin:-10px 200px;
    margin-top: 10px;
       box-shadow:
        0 0 10px #1B7F5D,
        0 0 10px #1B7F5D,
        0 0 10px #04ba7e;
        border-radius:30px;

    
}
.contacts>p {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    text-shadow:
        0 0 7px black,
        0 0 7px black,
        0 0 7px black,
        0 0 7px black;
}

.contacts>.social>.whatsapp,
.contacts>.social>.instagram,
.contacts>.social>.telephone,
.contacts>.social>.telegram,
.contacts>.social>.gmail {
    text-align: center;
    background-color: #e5f4ff;
    padding: 17px;
    border: 5px solid #1B7F5D;
    border-radius: 40px;
    box-shadow:
        0 0 10px #1B7F5D,
        0 0 10px #1B7F5D,
        0 0 10px #04ba7e;
    height: 100px;
    transition: 0.3s ease;

}

.contacts>.social>.whatsapp>.contactswhatsapp,
.contacts>.social>.instagram>.contactsinsta,
.contacts>.social>.telegram>.contactstg {
    text-align: center;
    background-color: transparent;
    font-size: 50px;
}

.contacts>.social>.whatsapp>p,
.contacts>.social>.instagram>p,
.contacts>.social>.telegram>p {
    text-align: center;
    position: relative;
    bottom: 17px;

}

.contacts>.social>.whatsapp>.contactswhatsapp,
.contacts>.social>.instagram>.contactsinsta,
.contacts>.social>.telephone>i,
.contacts>.social>.telegram>.contactstg,
.contacts>.social>.gmail>i {
    font-size: 65px;
    text-align: center;
    position: relative;
    bottom: 15px;

}



.contacts>.social>.gmail>i {
    position: relative;
    top: 2px;
}

.contacts>.social>.telephone>i {
    position: relative;
    top: 5px;
    font-size: 60px;
}

.contacts>.social>.gmail>p {
    position: relative;
    top: 14px;
}

.contacts>.social>.telephone>p {
    position: relative;
    top: 20px;
}

.contacts>.social>.whatsapp>.contactswhatsapp {
    color: #25D366;
    transition: 0.3s ease;
}

.contacts>.social>.instagram>.contactsinsta {
    color: #E1306C;
    transition: 0.3s ease;
}

.contacts>.social>.telegram>.contactstg {
    color: #0088cc;
    transition: 0.3s ease;
}

.contacts>.social>.gmail>i {
    color: #EA4335;
    transition: 0.3s ease;
}

.contacts>.social>.telephone>i {
    color: #34A853;
    transition: 0.3s ease;
}

.contacts>.social>.telephone>i:hover,
.contacts>.social>.gmail>i:hover,
.contacts>.social>.telegram>.contactstg:hover,
.contacts>.social>.whatsapp>.contactswhatsapp:hover,
.contacts>.social>.instagram>.contactsinsta:hover {
    transform: scale(1.2);
}

.contacts>.social>.whatsapp:hover,
.contacts>.social>.instagram:hover,
.contacts>.social>.telephone:hover,
.contacts>.social>.telegram:hover,
.contacts>.social>.gmail:hover {
    transform: translateY(-10px);
}









/* project */
.about {
    background-color: rgb(255, 236, 144);
    padding: 50px;
    margin: 50px auto;
    border-radius: 40px;
    max-width: 1000px;
    text-align: center;
    color: white;
    margin-top: 200px;
        box-shadow:
        0 0 10px rgb(255, 236, 144),
        0 0 10px rgb(255, 236, 144),
        0 0 10px rgb(254, 222, 65);
}

.about h2 {
    font-size: 60px;
    margin-bottom: 30px;
    text-shadow: 0 0 15px #1B7F5D;
    position:relative;
    bottom:15px;
}

.about p {
    font-size: 20px;
    margin-bottom: 30px;
    position:relative;
    bottom:15px;
    text-shadow:
        0 0 3px black,
        0 0 3px black,
        0 0 3px black,
        0 0 3px black;
}

.about-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.about-cards .card {
    background-color: rgba(27, 127, 93, 0.2);
    border: 2px solid #1B7F5D;
    border-radius: 15px;
    padding: 20px;
    flex: 1 1 250px;
    max-width: 300px;
    box-shadow: 0 0 15px rgba(27, 127, 93, 0.4);
    transition:  0.3s ease;
}
.about-cards .card>h3 {
    font-size: 27px;
}
.about-cards>.card>p {
    margin-top: 20px;
}

.about-cards .card:hover {
    transform: translateY(-5px);
}

























/* footer */
.footer {
    margin-top: 150px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    height: 70px;
    display: flex;
    align-items: center;
}

.footer>.social-icons {
    margin-left: 600px;
}

.footer>.social-icons>a {
    all: unset;
    cursor: pointer;
    font-size: 40px;
    margin-inline: 10px;
    display: inline-block;
}

.footer>p {
    letter-spacing: 1.5px;
    font-size: 25px;
    margin-left: 20px;
}

.footer>.social-icons>.whatsapp {
    color: #25D366;
    transition: 0.3s ease;
}

.footer>.social-icons>.insta {
    color: #E1306C;
    transition: 0.3s ease;

}

.footer>.social-icons>.tg {
    color: #0088cc;
    transition: 0.3s ease;
}

.footer>.social-icons>.whatsapp:hover,
.footer>.social-icons>.insta:hover,
.footer>.social-icons>.tg:hover {
    transform: scale(1.2);
}