@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Slab", serif;
    height: 100%;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;

}

a:not(.material-icons) {

    text-decoration: none;
    color: white;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;

    font-weight: 600;
    background-color: #1B7F5D;
    border-radius: 20px;
    padding: 5.5px 10px;
    transition: 0.3s ease;
    display: inline-block;
}

.active>a {
    box-shadow: 10px 5px 5px white;
}

header {
    padding: 40px 0;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    height: 40px;
    position:relative;
    z-index:2;

}

header>#logos {

    all: unset;
    cursor: pointer;
    font-size: 40px;
    font-weight: 800;
    position: relative;
    bottom: 13px;
    right: -50px;
    text-shadow:
        0 0 5px #1B7F5D,
        0 0 10px #1B7F5D,
        0 0 20px #1B7F5D,
        0 0 40px #1B7F5D;
}



header>ul {

    position: relative;
    right:20px;
    bottom:50px;
    list-style: none;
    display: flex;
    justify-content:center;
    text-transform: uppercase;
}

li {

    padding: 0 40px;
}

header>ul>li>a:hover {
    transform: scale(1.2);
}

.box-cont .box-cont2 {
    position:relative;
    height: 35px;
    margin-top: -90px;
    display: flex;
    align-items: center;
    border: 3px solid #1B7F5D;
    border-radius: 50px;
    padding: 5px 15px;
    background-color: #fff;
    /* или transparent */
    width: 260px;
    margin-left: 1100px;

}

.search {
    flex: 1;
    border: none;
    outline: none;
    font-size: 17px;
    font-family: "Roboto Slab", serif;
    color: #424242;
    background: transparent;
    cursor:text;
}


.box-cont .box-cont2 .material-icons {
    font-size: 40px;
    color: rgb(99, 251, 99);
    transition: 0.2s;
    pointer-events: none;

}

.search-block__products {
z-index:1000;
    position: relative;
    list-style: none;
    left:1100px;
    max-height: 200px;
    overflow: auto;
    background-color: white;
    top: 6px;
    border-radius: 5px;
    width: 290px;
    opacity: 0;
    visibility: hidden;
    border: 3px solid #1B7F5D;
}

.search-block__products li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.search-block__products::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}

.search-block__products::-webkit-scrollbar-thumb {
    background:rgb(99, 251, 99);
}

.search-block__products li a {
    text-decoration: none !important;
    font-size: 17px !important;
    font-family: "Roboto Slab", serif !important;
    color: #424242 !important;
    background-color: transparent !important;
    text-shadow: none !important;
}

.search-block__products li:hover {
    background-color: #e6f2ff;
}

.box-cont.active-search .search-block__products {
    opacity: 1;
    visibility: visible;
}









/* second blok */
.lastpage>.lastpagebtn {
    display:flex;
    width:230px;
    text-align:center;
    justify-content: center;
    align-items: center;
    padding:5px;
    margin-top:40px;
    margin-left:40px;
}
.lastpage>.lastpagebtn {
    color: #fff;
    background-color: #7F1B1B;
    border: none;
    border-radius: 30px;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    border: none;
    box-shadow:
        0 0 10px #ff4d4d,
        0 0 15px #ff1a1a,
        0 0 20px #ff0000;
    transition: 0.3s ease;
}
.lastpage>.lastpagebtn>p {
    margin-left: 10px;
    font-size:25px;
    margin-bottom:4px;
}
.lastpage>.lastpagebtn>.fa-solid  {
font-size:25px;
margin-left:1px;
}
.lastpage>.lastpagebtn:hover {
          transform: scale(1.05);
    box-shadow:
        0 0 10px #ff4d4d,
        0 0 20px #ff1a1a,
        0 0 30px #ff0000;
}






























.cards {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 колонки */
    justify-content: center;
    text-align: center;
     margin-left:65px;

}

.cards>.tulga1>img,
.cards>.tulga2>img,
.cards>.tulga3>img,
.cards>.tulga4>img,
.cards>.tulga6>img,
.cards>.tulga5>img,
.cards>.tulga8>img,
.cards>.tulga7>img,
.cards>.tulga9>img
 {
    width: 230px;
    height: 250px;
     margin-top:20px;
  -webkit-mask-image: 
    linear-gradient(to right, transparent, black 30%, black 70%, transparent), /* слева и справа */
    linear-gradient(to bottom, black 60%, transparent); /* снизу */
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;

  mask-image: 
    linear-gradient(to right, transparent, black 30%, black 70%, transparent),
    linear-gradient(to bottom, black 60%, transparent);

}

.cards>.tulga1,
.cards>.tulga2,
.cards>.tulga3,
.cards>.tulga4,
.cards>.tulga6,
.cards>.tulga5,
.cards>.tulga8,
.cards>.tulga7,
.cards>.tulga9
{
    text-align: center;
    background-color: rgb(29, 143, 11);
        border: 2px solid #1B7F5D;
    border-radius: 15px;
    box-shadow:
        0 0 10px #1B7F5D,
        0 0 15px #1B7F5D,
        0 0 20px #1B7F5D;
        transition: 0.3s ease;
        
        flex: 1 1 250px;

    width:350px;
    margin: 70px 30px;
    height: 470px;

}
.cards>.tulga9>img {
    width:300px;
}

.cards>.tulga1>img {
    width:250px;
}


.cards>.tulga1>h2,
.cards>.tulga2>h2,
.cards>.tulga3>h2,
.cards>.tulga4>h2,
.cards>.tulga6>h2,
.cards>.tulga5>h2,
.cards>.tulga8>h2,
.cards>.tulga7>h2,
.cards>.tulga9>h2 

{
      color: #fff;
    text-shadow:
        0 0 10px #7F1B1B,
        0 0 10px #7F1B1B,
        0 0 10px #7F1B1B,
        0 0 10px #7F1B1B;
        font-size: 30px;
        
    }
    .cards>.tulga2>h2 {
        font-size:27px;
    }
     .cards>.tulga7>h2 {
        font-size:28.5px;
    }
    
    .cards>.tulga6>h2 {
    font-size:28px;
    }
    .cards>.tulga9>h2 {
    font-size:28px;
    }
    
.cards>.tulga1>p,
.cards>.tulga2>p,
.cards>.tulga3>p,
.cards>.tulga4>p,
.cards>.tulga6>p,
.cards>.tulga5>p,
.cards>.tulga8>p,
.cards>.tulga7>p,
.cards>.tulga9>p 
{
    text-align: center;
    width: 300px;
  position:relative;
  top:20px;
    margin: 0 auto;
}






.cards>.tulga1>.cardbtn,
.cards>.tulga2>.cardbtn,
.cards>.tulga3>.cardbtn,
.cards>.tulga4>.cardbtn,
.cards>.tulga6>.cardbtn,
.cards>.tulga5>.cardbtn,
.cards>.tulga8>.cardbtn,
.cards>.tulga7>.cardbtn,
.cards>.tulga9>.cardbtn
{
    margin-top:50px;
    color: #fff;
    background-color: #7F1B1B;
    text-decoration: none !important;
    border: none;
    border-radius: 30px;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    border: none;
    box-shadow:
        0 0 10px #ff4d4d,
        0 0 15px #ff1a1a,
        0 0 20px #ff0000;
    transition: 0.3s ease;
}
.cards>.tulga2>.cardbtn {
        margin-top:54px;

}
.cards>.tulga6>.cardbtn {
    margin-top:56px;
}
.cards>.tulga7>.cardbtn {
    margin-top:54px;
}
.cards>.tulga5>.cardbtn {
        margin-top:55px;

}
.cards>.tulga3>img {
    width:230px;
}
.cards>.tulga4>img {
    width:230px;
}
.cards>.tulga3>h2 {
font-size: 25px;
}

.cards>.tulga3>.cardbtn {
    margin-top:54px;
}
.cards>.tulga4>.cardbtn {
    margin-top:55px;
}
.cards>.tulga1>.cardbtn:hover,
.cards>.tulga2>.cardbtn:hover,
.cards>.tulga3>.cardbtn:hover,
.cards>.tulga4>.cardbtn:hover,
.cards>.tulga6>.cardbtn:hover,
.cards>.tulga5>.cardbtn:hover,
.cards>.tulga8>.cardbtn:hover,
.cards>.tulga7>.cardbtn:hover,
.cards>.tulga9>.cardbtn:hover
{
        transform: scale(1.05);
    box-shadow:
        0 0 20px #ff4d4d,
        0 0 30px #ff1a1a,
        0 0 40px #ff0000;
}
.cards>.tulga1:hover,
.cards>.tulga2:hover,
.cards>.tulga3:hover,
.cards>.tulga4:hover,
.cards>.tulga6:hover,
.cards>.tulga5:hover,
.cards>.tulga8:hover,
.cards>.tulga7:hover,
.cards>.tulga9:hover
 {
    transform: translateY(-20px);
}
















/* footer */
.footer {
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    height: 70px;
    display: flex;
    align-items: center;
}

.footer>.social-icons {
    margin-left: 600px;
}

.footer>.social-icons>a {
    all: unset;
    cursor: pointer;
    font-size: 40px;
    margin-inline: 10px;
    display: inline-block;
}

.footer>p {
    letter-spacing: 1.5px;
    font-size: 25px;
    margin-left: 20px;
}

.footer>.social-icons>.whatsapp {
    color: #25D366;
    transition: 0.3s ease;
}

.footer>.social-icons>.insta {
    color: #E1306C;
    transition: 0.3s ease;

}

.footer>.social-icons>.tg {
    color: #0088cc;
    transition: 0.3s ease;
}

.footer>.social-icons>.whatsapp:hover,
.footer>.social-icons>.insta:hover,
.footer>.social-icons>.tg:hover {
    transform: scale(1.2);
}
