@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Slab", serif;
    height: 100%;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;

}

a:not(.material-icons) {

    text-decoration: none;
    color: white;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;

    font-weight: 600;
    background-color: #1B7F5D;
    border-radius: 20px;
    padding: 5.5px 10px;
    transition: 0.3s ease;
    display: inline-block;
}

.active>a {
    box-shadow: 10px 5px 5px white;
}

header {
    padding: 40px 0;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    height: 40px;

}

header>#logos {

    all: unset;
    cursor: pointer;
    font-size: 40px;
    font-weight: 800;
    position: relative;
    bottom: 13px;
    right: -50px;
    text-shadow:
        0 0 5px #1B7F5D,
        0 0 10px #1B7F5D,
        0 0 20px #1B7F5D,
        0 0 40px #1B7F5D;
}

header>nav {
    float: right;
}

header>nav>ul {

    position: relative;
    right: 150px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

li {

    padding: 0 40px;
}

header>nav>ul>li>a:hover {
    transform: scale(1.2);
}

.box-cont {
    height: 30px;
    margin-top: -5px;
    display: flex;
    align-items: center;
    border: 3px solid #1B7F5D;
    border-radius: 50px;
    padding: 5px 15px;
    background-color: #fff;
    /* или transparent */
    width: 230px;
    margin-left: 30px;
}

.search {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: "Roboto Slab", serif;
    color: #424242;
    background: transparent;
}

.search-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
    margin-top: 2px;
}

.search-btn .material-icons {
    font-size: 30px;
    color: #1B7F5D;
    transition: 0.2s;
}

.search-btn:hover .material-icons {
    transform: scale(1.3);
    color: #2980b9;
}












/* ортаңғы бөлік */
.hero {
    overflow: hidden;
margin-top:50px;
}

.hero>h2 {
    position: relative;
    left: 100px;
    top: 120px;
    font-size: 50px;
    width: 550px;
    color: #fff;
    text-shadow:
        0 0 10px #7F1B1B,
        0 0 10px #7F1B1B,
        0 0 10px #7F1B1B,
        0 0 10px #7F1B1B;
}

.hero>p {
    width: 500px;
    position: relative;
    top: 150px;
    left: 100px;
    font-size: 20px;

}

.hero>img {


    position: relative;
    left: 750px;
    width: 600px;
    bottom: 260px;
object-fit: contain;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  border-radius: 30px;

}

.hero>.btn {
    position: relative;
    right: 500px;
    bottom: 370px;
    background-color: #7F1B1B;
    width: 260px;
    height: 50px;
    border: 0;
    border-radius: 24px;
    color: #fff;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    font-size: 20px;
    transition: 0.3s ease;
    box-shadow:
        0 0 10px #ff4d4d,
        0 0 10px #ff1a1a,
        0 0 10px #ff0000;

}

.hero>.btn>a {
    background-color: transparent;
}

.hero>.btn:hover {
    transform: scale(1.2);
    box-shadow:
        0 0 20px #ff4d4d,
        0 0 30px #ff1a1a,
        0 0 40px #ff0000;
}

/* үшінші блок */
.cards {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 100px;
    margin-inline: 100px;
    margin-bottom: 400px;
    position: relative;
    top: -100px;
}

.cards>.abai>img,
.cards>.haqnazar>img,
.cards>.kobylandy>img {
    width: 290px;
    height: 340px;
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 202, 132);
    position: relative;
    top: 40px;


}

.cards>.abai,
.cards>.kobylandy,
.cards>.haqnazar {
    text-align: center;
    border-radius: 20px;
    background-color: #00a66f;
    width: 400px;
    height: 610px;
}

.cards>.abai>p,
.cards>.haqnazar>p,
.cards>.kobylandy>p {
    padding-top: 40px;
    width: 350px;
    margin: 0 auto;
    position: relative;
    top: 20px;
    font-size: 20px;
}

.cards>.abai>h2,
.cards>.haqnazar>h2,
.cards>.kobylandy>h2 {
    position: relative;
    top: 45px;
    color: #fff;
    font-size: 33px;
    text-shadow:
        0 0 10px #7F1B1B,
        0 0 10px #7F1B1B,
        0 0 10px #7F1B1B,
        0 0 10px #7F1B1B;
}

.cards>.abai>.cardbtn,
.cards>.kobylandy>.cardbtn,
.cards>.haqnazar>.cardbtn {
    margin-top: 45px;
    padding: 15px;
    border-radius: 24px;
    background-color: #7F1B1B;
    color: #fff;
    font-size: 20px;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    border: none;
    box-shadow:
        0 0 10px #ff4d4d,
        0 0 15px #ff1a1a,
        0 0 20px #ff0000;
    transition: 0.3s ease;
}

.cards>.abai>.cardbtn:hover,
.cards>.kobylandy>.cardbtn:hover,
.cards>.haqnazar>.cardbtn:hover {
    transform: scale(1.2);
    box-shadow:
        0 0 20px #ff4d4d,
        0 0 30px #ff1a1a,
        0 0 40px #ff0000;
}
















/* 3-бөлім */
.cards2 {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 150px;
    margin-inline: 150px;
    margin-bottom: 400px;
    position: relative;
    top: -400px;
}

.cards2>.shoqan>img,
.cards2>.kurmangazy>img {
    width: 290px;
    height: 340px;
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 202, 132);
    position: relative;
    top: 40px;
}

.cards2>.shoqan,
.cards2>.kurmangazy {
    text-align: center;
    border-radius: 20px;
    background-color: #00a66f;
    width: 400px;
    height: 610px;
}

.cards2>.shoqan>p,
.cards2>.kurmangazy>p {
    padding-top: 40px;
    width: 350px;
    margin: 0 auto;
    position: relative;
    top: 20px;
    font-size: 20px;
}

.cards2>.shoqan>h2,
.cards2>.kurmangazy>h2 {
    position: relative;
    top: 45px;
    color: #fff;
    font-size: 33px;
    text-shadow:
        0 0 10px #7F1B1B,
        0 0 10px #7F1B1B,
        0 0 10px #7F1B1B,
        0 0 10px #7F1B1B;
}

.cards2>.shoqan>.cardbtn,
.cards2>.kurmangazy>.cardbtn {
    margin-top: 45px;
    padding: 15px;
    border-radius: 24px;
    background-color: #7F1B1B;
    color: #fff;
    font-size: 20px;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    border: none;
    box-shadow:
        0 0 10px #ff4d4d,
        0 0 15px #ff1a1a,
        0 0 20px #ff0000;
    transition: 0.3s ease;
}

.cards2>.shoqan>.cardbtn:hover,
.cards2>.kurmangazy>.cardbtn:hover {
    transform: scale(1.2);
    box-shadow:
        0 0 20px #ff4d4d,
        0 0 30px #ff1a1a,
        0 0 40px #ff0000;
}






















/* тест бөлімі */
.test {
    position: relative;
    top: -300px;
    text-align: center;
}

.test>img {
    width: 150px;
    position: relative;
    right: -600px;
}

.test>h2 {
    font-size: 40px;
    color: #1B7F5D
}

.test>h3 {
    font-size: 40px;
    color: #7f1b1b;
}

.test>button {
    width: 500px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    height: 70px;
    font-size: 30px;
    position: relative;
    left: -100px;
    top: -70px;
    color: #1B7F5D;
    transition: 0.3s ease;
}

.test>button:hover {
    transform: scale(1.3);
}





.footer {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    height: 70px;
    display: flex;
    align-items: center;
}

.footer>.social-icons {
    margin-left: 600px;
}

.footer>.social-icons>a {
    all: unset;
    cursor: pointer;
    font-size: 40px;
    margin-inline: 10px;
    display:inline-block;
}

.footer>p {
    letter-spacing: 1.5px;
    font-size: 25px;
    margin-left: 20px;
}

.footer>.social-icons>.whatsapp {
    color: #25D366;
    transition: 0.3s ease;
}

.footer>.social-icons>.insta {
    color: #E1306C;
    transition: 0.3s ease;

}

.footer>.social-icons>.tg {
    color: #0088cc;
    transition: 0.3s ease;
}
.footer>.social-icons>.whatsapp:hover,
.footer>.social-icons>.insta:hover,
.footer>.social-icons>.tg:hover {
    transform: scale(1.2);
}
