@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Slab", serif;
    height: 100%;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;

}

a:not(.material-icons) {

    text-decoration: none;
    color: white;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;

    font-weight: 600;
    background-color: #1B7F5D;
    border-radius: 20px;
    padding: 5.5px 10px;
    transition: 0.3s ease;
    display: inline-block;
}

.active>a {
    box-shadow: 10px 5px 5px white;
}

header {
    padding: 40px 0;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    height: 40px;

    text-shadow:
        0 0 5px #1B7F5D,
        0 0 10px #1B7F5D,
        0 0 20px #1B7F5D,
        0 0 40px #1B7F5D;

}

header>#logos {
    cursor: pointer;
    all: unset;
    font-size: 40px;
    font-weight: 800;
    position: relative;
    bottom: 13px;
    right: -50px;
    text-shadow:
        0 0 5px #1B7F5D,
        0 0 10px #1B7F5D,
        0 0 20px #1B7F5D,
        0 0 40px #1B7F5D;
}

header>nav {
    float: right;
}

header>nav>ul {

    position: relative;
    right: 150px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

li {

    padding: 0 40px;
}

header>nav>ul>li>a:hover {
    transform: scale(1.2);
}

.box-cont {
    height: 30px;
    margin-top: -5px;
    display: flex;
    align-items: center;
    border: 3px solid #1B7F5D;
    border-radius: 50px;
    padding: 5px 15px;
    background-color: #fff;
    /* или transparent */
    width: 230px;
    margin-left: 30px;
}

.search {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: "Roboto Slab", serif;
    color: #424242;
    background: transparent;
}

.search-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
    margin-top: 2px;
}

.search-btn .material-icons {
    font-size: 30px;
    color: #1B7F5D;
    transition: 0.2s;
}

.search-btn:hover .material-icons {
    transform: scale(1.3);
    color: #2980b9;
}






/* second blok */
.lastpage>.lastpagebtn {
    display:flex;
    width:230px;
    text-align:center;
    justify-content: center;
    align-items: center;
    padding:5px;
    margin-top:25px;
    margin-left:25px;
}
.lastpage>.lastpagebtn {
    color: #fff;
    background-color: #7F1B1B;
    border: none;
    border-radius: 30px;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    border: none;
    box-shadow:
        0 0 10px #ff4d4d,
        0 0 15px #ff1a1a,
        0 0 20px #ff0000;
    transition: 0.3s ease;
}
.lastpage>.lastpagebtn>p {
    margin-left: 10px;
    font-size:25px;
    margin-bottom:4px;
}
.lastpage>.lastpagebtn>.fa-solid  {
font-size:25px;
margin-left:1px;
}
.lastpage>.lastpagebtn:hover {
         transform: scale(1.1);
    box-shadow:
        0 0 20px #ff4d4d,
        0 0 30px #ff1a1a,
        0 0 40px #ff0000;
}






























.cards {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 колонки */
    justify-content: center;
    text-align: center;
    position:relative;
    left:60px;
}

.cards>.shyngys>img,
.cards>.kerei>img,
.cards>.abylai>img,
.cards>.kasym>img,
.cards>.tauke>img,
.cards>.tauekel>img,
.cards>.haqnazar>img,
.cards>.esim>img,
.cards>.zhangir>img
 {
    width: 280px;
    height: 250px;
     margin-top:20px;
  -webkit-mask-image: 
    linear-gradient(to right, transparent, black 30%, black 70%, transparent), /* слева и справа */
    linear-gradient(to bottom, black 60%, transparent); /* снизу */
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;

  mask-image: 
    linear-gradient(to right, transparent, black 30%, black 70%, transparent),
    linear-gradient(to bottom, black 60%, transparent);

}

.cards>.shyngys,
.cards>.kerei,
.cards>.abylai,
.cards>.kasym,
.cards>.tauke,
.cards>.tauekel,
.cards>.haqnazar,
.cards>.esim,
.cards>.zhangir
{
    text-align: center;
    background-color: rgb(29, 143, 11);
        border: 2px solid #1B7F5D;
    border-radius: 15px;
    box-shadow:
        0 0 10px #1B7F5D,
        0 0 15px #1B7F5D,
        0 0 20px #1B7F5D;
        transition: 0.3s ease;
        
        flex: 1 1 250px;

    width:350px;
    margin: 70px 30px;
    height: 470px;
}

.cards>.shyngys>h2,
.cards>.kerei>h2,
.cards>.abylai>h2,
.cards>.kasym>h2,
.cards>.tauke>h2,
.cards>.tauekel>h2,
.cards>.haqnazar>h2,
.cards>.esim>h2,
.cards>.zhangir>h2 

{
      color: #fff;
    text-shadow:
        0 0 10px #7F1B1B,
        0 0 10px #7F1B1B,
        0 0 10px #7F1B1B,
        0 0 10px #7F1B1B;
            font-size: 30px;

}

.cards>.shyngys>p,
.cards>.kerei>p,
.cards>.abylai>p,
.cards>.kasym>p,
.cards>.tauke>p,
.cards>.tauekel>p,
.cards>.haqnazar>p,
.cards>.esim>p,
.cards>.zhangir>p 
{
    text-align: center;
    width: 300px;
  position:relative;
  top:10px;
    margin: 0 auto;
}

.cards>.shyngys>.cardbtn,
.cards>.kerei>.cardbtn,
.cards>.abylai>.cardbtn,
.cards>.kasym>.cardbtn,
.cards>.tauke>.cardbtn,
.cards>.tauekel>.cardbtn,
.cards>.haqnazar>.cardbtn,
.cards>.esim>.cardbtn,
.cards>.zhangir>.cardbtn
{
    margin-top:35px;
    color: #fff;
    background-color: #7F1B1B;
    text-decoration: none !important;
    border: none;
    border-radius: 30px;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    border: none;
    box-shadow:
        0 0 10px #ff4d4d,
        0 0 15px #ff1a1a,
        0 0 20px #ff0000;
    transition: 0.3s ease;
}
.cards>.abylai>.cardbtn {
    margin-top:54px;
}
.cards>.kasym>.cardbtn {
    margin-top:55px;
}
.cards>.shyngys>.cardbtn:hover,
.cards>.kerei>.cardbtn:hover,
.cards>.abylai>.cardbtn:hover,
.cards>.kasym>.cardbtn:hover,
.cards>.tauke>.cardbtn:hover,
.cards>.tauekel>.cardbtn:hover,
.cards>.haqnazar>.cardbtn:hover,
.cards>.esim>.cardbtn:hover,
.cards>.zhangir>.cardbtn:hover
{
        transform: scale(1.2);
    box-shadow:
        0 0 20px #ff4d4d,
        0 0 30px #ff1a1a,
        0 0 40px #ff0000;
}
.cards>.shyngys:hover,
.cards>.kerei:hover,
.cards>.abylai:hover,
.cards>.kasym:hover,
.cards>.tauke:hover,
.cards>.tauekel:hover,
.cards>.haqnazar:hover,
.cards>.esim:hover,
.cards>.zhangir:hover
 {
    transform: translateY(-20px);
}
















/* footer */
.footer {
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    height: 70px;
    display: flex;
    align-items: center;
}

.footer>.social-icons {
    margin-left: 600px;
}

.footer>.social-icons>a {
    all: unset;
    cursor: pointer;
    font-size: 40px;
    margin-inline: 10px;
    display: inline-block;
}

.footer>p {
    letter-spacing: 1.5px;
    font-size: 25px;
    margin-left: 20px;
}

.footer>.social-icons>.whatsapp {
    color: #25D366;
    transition: 0.3s ease;
}

.footer>.social-icons>.insta {
    color: #E1306C;
    transition: 0.3s ease;

}

.footer>.social-icons>.tg {
    color: #0088cc;
    transition: 0.3s ease;
}

.footer>.social-icons>.whatsapp:hover,
.footer>.social-icons>.insta:hover,
.footer>.social-icons>.tg:hover {
    transform: scale(1.2);
}